*{
    box-sizing: border-box;
}
#intro {
    border: 3px solid black;
}
#intro p {
    text-align: center;
}

#logo {
    text-align: center;
}

.info {
    border: 2px solid black;
}
#checkmypro {
    text-align: center;
}

#checkmypro a {
    text-decoration: none;
    color: black;
}

#main {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

#filter {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 25%;
}
#filter div {
    margin: 20px 0px;
}
#filter select, #filter input, #filter button { width: 50%;}